---
import Layout from '../../../layouts/Layout.astro';
import NavBack from '../../../components/NavBack.astro';
import HostalkContent from '../../../components/HostalkContent.astro';
import FooterContact from '../../../components/FooterContact.astro';
---

<Layout titleKey="meta.hostalk.title" descriptionKey="meta.hostalk.description" pathWithoutLang="/proyectos/hostalk">
  <NavBack pathWithoutLang="/proyectos/hostalk" />
  <main>
    <HostalkContent />
  </main>
  <FooterContact />
</Layout>
