---
/**
 * Renderiza el código de moneda activa (COP, USD o EUR).
 * CSS muestra solo el que corresponde según data-currency en <html>.
 */
---

<span>
  <span class="cur cur-cop">COP</span>
  <span class="cur cur-usd">USD</span>
  <span class="cur cur-eur">EUR</span>
</span>
