---
import Layout from '../../layouts/Layout.astro';
import NavBack from '../../components/NavBack.astro';
import OfertaContent from '../../components/OfertaContent.astro';
import FooterContact from '../../components/FooterContact.astro';
---

<Layout titleKey="meta.oferta.title" descriptionKey="meta.oferta.description" pathWithoutLang="/oferta-de-lanzamiento">
  <NavBack pathWithoutLang="/oferta-de-lanzamiento" />
  <main>
    <OfertaContent />
  </main>
  <FooterContact />
</Layout>
